@import "../../../index.module.scss";

.card {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  min-height: 17rem;
  min-width: 10rem;
  background-color: $AlmostWhite;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba($color: #000000, $alpha: 0.34);
}
