@import "../../../index.module.scss";

.activities {
}

.card_activity {
  z-index: 10;
}

.heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  & h1 {
    color: $DenaturedBlue;
  }
}
.activity_form {
  width: 20rem;
}

.form_control {
  & label {
    width: 100%;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
    color: $MediumGray;
  }

  & input {
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #b9b6d3;
    padding-left: 2rem;
    margin-bottom: 2rem;
    border-bottom-width: 4px;

    &::placeholder {
      font-weight: 600;
      color: #b9b6d3;
    }
  }
}

.btn {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  text-align: center;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
  width: 100%;
  box-shadow: 7px 6px 28px 1px rgba($color: #000000, $alpha: 0.24);
  background-color: $LimeGreen;
  font-size: 1rem;
  color: $AlmostWhite;
  &:active {
    transform: scale(0.95) translateY(-2px);
  }
}
