@import "../../../index.module.scss";

.header {
  display: flex;
  flex-direction: row;
  padding: 0 1.5rem;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background-color: $Blue;
  justify-content: space-between;
}

.logo {
  &_menu {
    & img {
      width: 2.5rem;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
    display: none;
    @media (max-width: 768px) {
      display: inline;
    }
  }
  & img {
    width: 2.5rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

.hidden {
  @media (max-width: 767px) {
    display: none;
  }
}
